.tabbar-container {
  position: fixed;
  bottom: 0;
  background-color: var(--white);
  width: 100%;
  height: 60px;
  display: none;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  border-top: 1px solid var(--white-dark);
  box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.05);
  gap: 10px;
  padding: 5px;
  z-index: 10;
  user-select: none;
}
.tabbar-container-add {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.tabbar-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.tabbar-content:active {
  background-color: rgba(0, 94, 244, 0.1);
}
.tabbar-content-on {
  background-color: rgba(0, 94, 244, 0.1);
  pointer-events: none;
}
.tabbar-content img {
  height: 25px;
}
.tabbar-content p {
  font-size: 9px;
}
.s-g-item img {
  height: 25px;
}
.s-g-item img:last-child {
  height: 15px;
}

/* pelamar __________________________________ */
.tabbar-popup {
  position: fixed;
  bottom: -150px;
  border-radius: 10px;
  background-color: var(--white);
  border: 1px solid var(--black-50);
  box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.1);
  max-width: 350px;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.5s;
}
.tabbar-popup-on {
  bottom: 65px;
  transition: 0.5s;
}
@media screen and (width <= 800px) {
  .tabbar-container {
    display: grid;
  }
}
