.auth-head {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.auth-head img {
  cursor: pointer;
}
.auth-body {
  width: 100%;
  height: calc(100vh - 80px);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* auth form */
.a-b-content {
  width: 450px;
  height: fit-content;
  border-radius: 20px;
  box-shadow: 0 0 10px 0 hsl(0, 0%, 75%);
  padding: 50px 50px;
  text-align: center;
  gap: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}
.a-b-content form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.a-b-content form span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 100%;
}
.a-b-content form input {
  width: 100%;
  font-size: 16px;
  padding: 6px 5px;
  border: 3px solid var(--black-10);
  border-radius: 5px;
}
.pass-input {
  position: relative;
}
.passs {
  position: relative;
}
#show-pass {
  position: absolute;
  bottom: 0;
  height: 40px;
  right: 0;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: transparent;
  border-radius: 50%;
  background-color: transparent;
  transition: 0.3s;
}
#show-pass:active {
  background-color: var(--black-10);
  transition: 0.3s;
}

.button-auth {
  width: 100%;
  margin-top: 10px;
  border-radius: 5px;
}

.auth-body a {
  color: var(--black);
  text-decoration: none;
  font-weight: 600;
}
.auth-body a:hover {
  text-decoration: underline;
}
.oauth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
}
.oauth button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid var(--black-10);
  font-weight: 500;
  cursor: pointer;
  background-color: var(--white);
  transition: 0.3s;
}
.oauth button:hover {
  background-color: var(--black-10);
  transition: 0.3s;
}

.auth-gap {
  border: 1px solid var(--black-50);
  width: 100%;
  position: relative;
  margin: 10px 0;
}
.auth-gap::after {
  content: "atau";
  position: absolute;
  top: -13px;
  left: 41.5%;
  background-color: var(--white);
  padding: 0 10px;
}

#role select {
  width: 100%;
  height: 40px;
  font-size: 16px;
  border: 3px solid var(--black-10);
  border-radius: 5px;
}

.a-b-back {
  width: 35px;
  height: 35px;
  background-image: url("/left-arrow.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 100%;
  position: absolute;
  z-index: 1;
  left: 25px;
  top: 25px;
}
.a-b-back:hover {
  background-color: var(--black-10);
}
.back-head {
  width: 45px;
  height: 45px;
  background-image: url("/left-arrow.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 100%;
  display: none;
}
.back-head:hover {
  background-color: var(--black-10);
}

/* role */
.a-b-role {
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--white);
  position: absolute;
  border-radius: 20px;
  padding: 40px;
  text-align: start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: 0.7s;
}
.a-b-role-hidden {
  transform: translateX(-500px);
  transition: 0.7s;
}
.a-b-role div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  width: 100%;
  height: 100px;
}
.role-button {
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-weight: 500;
  color: var(--black);
  border-radius: 10px;
  border: 3px solid var(--black-50);
  background-color: transparent;
  transition: 0.3s;
  cursor: pointer;
}
.role-button:hover {
  border: 3px solid var(--blue);
  transition: 0.3s;
}
.role-on {
  border: 3px solid transparent;
  color: var(--white);
  background-color: var(--blue);
}

/* button */
.a-b-role-button {
  width: 100%;
}
@media screen and (width < 600px) {
  .auth-body {
    height: fit-content;
    padding: 0;
  }
  .a-b-content {
    width: 100%;
    padding: 0;
    box-shadow: none;
    height: calc(100vh - 150px);
    border-radius: 0;
    justify-content: start;
    padding-top: 30px;
  }
  .a-b-role {
    padding: 0;
  }
  .a-b-role div {
    grid-template-columns: 1fr;
    border-radius: 0;
  }
  .a-b-back {
    display: none;
  }
  .back-head {
    display: block;
  }
  .auth-head-img {
    height: 45px;
  }
}
