.daftar-header {
  color: var(--black);
  padding: 10px;
  width: 100%;
  height: fit-content;
  border-bottom: 2px solid var(--black-10);
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1fr 0.3fr;
}
/* ________________ */
.daftar-wrap {
  width: 100%;
  height: fit-content;
}

.daftar-w-content {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1fr 0.3fr;
  transition: 0.3s;
  cursor: default;
  border-bottom: 2px solid var(--black-10);
}
.daftar-w-content:hover {
  background-color: #edf8ff;
  transition: 0.3s;
  grid-template-columns: 1.5fr 1fr 1fr 1.1fr 0.2fr;
}
.daftar-w-content div {
  display: flex;
  justify-content: start;
  align-items: center;
}
.daftar-w-c-pelamar {
  height: 100px;
  gap: 10px;
  padding: 10px;
}
.daftar-w-c-pelamar p {
  font-size: 14px;
}
.daftar-w-c-pelamar img {
  height: 100%;
  width: 70px;
  height: 70px;
  border-radius: 100%;
  object-fit: cover;
  object-position: center;
}

.daftar-w-c-cv img {
  height: 20px;
}
.daftar-w-c-cv {
  gap: 10px;
}
.daftar-w-c-cv a {
  color: var(--black);
}

/* popup */
.daftar-popup {
  width: 1000px;
  height: fit-content;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.daftar-p-content {
  width: 100%;
}

.daftar-p-c-pelamar {
  width: 100%;
  height: 80px;
  border: 2px solid var(--black-10);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  transition: 0.3s;
}
.daftar-p-c-pelamar:hover {
  border: 2px solid var(--black-50);
  transition: 0.3s;
}
.daftar-p-c-pelamar:active {
  border: 2px solid var(--black);
}
.daftar-p-c-pelamar span {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}
.daftar-p-c-pelamar span p {
  color: var(--black-50);
  font-size: 14px;
}
.daftar-p-c-pelamar span img {
  height: 60px;
  width: 60px;
  object-fit: cover;
  object-position: center;
  border-radius: 100%;
}
.daftar-p-c-pelamar img {
  height: 25px;
}

.daftar-p-c-coverletter {
  width: 100%;
  height: fit-content;
}
.daftar-p-c-coverletter p {
  white-space: pre-line;
}

.daftar-p-c-cv {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 5px;
}
.daftar-p-c-cv img {
  height: 25px;
}
.daftar-p-c-cv a {
  color: var(--black);
}

.daftar-p-c-info {
  width: 100%;
}
.daftar-p-c-info span {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.daftar-p-c-info span a {
  color: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.daftar-p-c-pesan {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
.daftar-p-c-pesan textarea {
  width: 100%;
  height: 400px;
  border: 2px solid var(--black-10);
  padding: 5px;
  border-radius: 5px;
  font-size: 16px;
  resize: none;
}

.daftar-p-c-action {
  margin-top: 10px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.daftar-p-c-info span p:first-child {
  color: var(--black-50);
}
.daftar-p-c-action button {
  height: 40px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}
.daftar-p-c-action button:hover {
  filter: brightness(90%);
  transition: 0.3s;
}
.daftar-p-c-action button:active {
  filter: brightness(80%);
}
.daftar-button-tolak {
  border: 2px solid #ff2323;
  background-color: #ffdddd;
  color: #ff2323;
}
.daftar-button-terima {
  border: 2px solid #00b80c;
  background-color: #c8ffc4;
  color: #00b80c;
}
.daftar-p-c-pesan label {
  color: var(--black-50);
  margin-bottom: 5px;
}
.daftar-p-c-pesan p {
  border: 2px solid var(--black-10);
  display: block;
  width: 100%;
  min-height: 100px;
  height: fit-content;
  padding: 5px;
  border-radius: 5px;
}

@media screen and (width <= 1000px) {
  .daftar-popup {
    width: 100%;
    grid-template-columns: 1fr;
    height: 100vh;
    z-index: 100;
  }
  .daftar-p-content:last-child {
    border-top: 2px solid var(--black-10);
    padding-top: 10px;
  }
}
