.dashboard-container {
  display: grid;
  grid-template-columns: 300px 1fr;
  width: 100%;
  height: 100vh;
}

/* sidebar______________________________ */
.dashboard-sidebar {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.dashboard-s-buttnav {
  width: 100%;
  margin-top: 20px;
}
.button-sidebar {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: 45px;
  padding: 9px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 500;
  background-color: transparent;
  border: transparent;
  transition: 0.2s;
}
.button-sidebar-on {
  background-color: var(--black-10);
  pointer-events: none;
}
.button-sidebar:hover {
  background-color: var(--white-dark);
  transition: 0.2s;
}
.button-sidebar:active {
  background-color: var(--black-10);
}
.button-sidebar img {
  height: 100%;
}
.dashboard-sidebar-logo2 {
  display: none;
}

@media screen and (width <= 1000px) {
  .dashboard-container {
    grid-template-columns: 65px 1fr;
  }
  .dashboard-sidebar {
    padding: 20px 10px;
  }
  .dashboard-sidebar span {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .button-sidebar {
    width: 100%;
    padding: 10px;
  }
  .button-sidebar p {
    display: none;
  }
  .dashboard-sidebar-logo1 {
    display: none;
  }
  .dashboard-sidebar-logo2 {
    display: block;
  }
}

/* content-header_______________________ */
.dashboard-header {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.dashboard-h-profil {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}
.dashboard-h-profil:hover {
  background-color: var(--white);
}
.dashboard-h-profil img {
  height: 40px;
  width: 40px;
  border: 2px solid var(--black-10);
  border-radius: 100%;
}
.dashboard-header input {
  font-size: 16px;
  padding: 10px 15px;
  width: 400px;
  border-radius: 100px;
  border: 2px solid var(--black-10);
}

@media screen and (width <= 800px) {
  .dashboard-h-profil {
    display: none;
  }
}
/* content______________________________ */
.dashboard-content {
  background-color: var(--white-dark);
  height: 100vh;
  padding: 20px;
  overflow: auto;
}

/* filter add */
.dashboard-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.dashboard-filter-list {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}
.dashboard-filter-list button {
  background-color: var(--white);
  border: transparent;
  cursor: default;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 16px;
}
.dashboard-filter-list button img {
  height: 15px;
}
.dashboard-filter-list button:hover {
  filter: brightness(90%);
}
.dashboard-filter-list button:active {
  filter: brightness(60%);
}
.dashboard-filter select {
  font-size: 16px;
  height: 40px;
  border: transparent;
  background-color: var(--white);
  padding: 10px;
  border-radius: 5px;
}
.dashboard-filter button {
  width: 100px;
  height: 40px;
  border-radius: 5px;
}
.dashboard-popup {
  width: 700px;
  height: fit-content;
  max-height: 80dvh;
  overflow: auto;
}
.dashboard-popup-profil label {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  border: 2px solid var(--black-50);
  display: block;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  margin-bottom: 10px;
}
.dashboard-popup-profil label::after {
  content: "Ubah profil";
  position: absolute;
  right: -100px;
  top: 50%;
  transform: translateY(-50%);
  text-decoration: underline;
  cursor: pointer;
}
.dashboard-popup-profil input {
  display: none;
}

.dashboard-popup-text {
  width: 100%;
  height: fit-content;
}
.dashboard-popup-text input,
.dashboard-popup-text select,
.dashboard-popup-text textarea {
  font-size: 16px;
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: 2px solid var(--black-10);
  margin-bottom: 10px;
}
.dashboard-popup-text textarea {
  height: 200px;
  resize: none;
}
.dashboard-popup span {
  display: flex;
  gap: 10px;
}
.dashboard-popup span input {
  height: 40px;
}
.dashboard-popup span button {
  height: 40px;
}

.dashboard-popup-cv input {
  display: none;
}
.dashboard-popup-cv label {
  display: block;
  border: 2px solid var(--black-10);
  width: 130px;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  flex-direction: column;
  font-size: 13px;
  border-radius: 5px;
}
.dashboard-popup-cv label:hover {
  border: 2px solid var(--black-50);
}
.dashboard-popup-cv label img {
  height: 25px;
}
.dashboard-popup-action {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 10px 0;
}
/* pelamar___________________________ */
.dashboard-pelamar-header {
  width: 100%;
  background-color: var(--white);
  display: grid;
  padding: 10px 20px;
  border-radius: 10px 10px 0 0;
  grid-template-columns: 2fr 2fr 1.5fr 1fr 0.5fr;
}
.dashboard-pelamar-wrap {
  width: 100%;
  height: fit-content;
  background-color: var(--white);
  padding: 10px;
  border-radius: 0 0 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.dashboard-pelamar-w-item {
  width: 100%;
  padding: 10px;
  cursor: default;
  border-top: 1px solid var(--black-10);
  border-bottom: 1px solid var(--black-10);
}
.dashboard-pelamar-w-item:hover {
  background-color: var(--white-dark);
}
.dashboard-pelamar-w-item {
  display: grid;
  grid-template-columns: 2fr 2fr 1.5fr 1fr 0.5fr;
}
.dashboard-pelamar-w-item div:not(:first-child, :last-child) {
  display: flex;
  justify-content: start;
  align-items: center;
}
.dashboard-pelamar-w-i-nama {
  height: fit-content;
  gap: 10px;
  display: flex;
  justify-content: start;
  align-items: center;
}
.dashboard-pelamar-w-i-nama img {
  border-radius: 100%;
  height: 40px;
  width: 40px;
  object-fit: cover;
  object-position: center;
}

.dashboard-w-i-action {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
}

.dashboard-w-i-action button {
  width: 30px;
  height: 30px;
  padding: 8px;
  border: transparent;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
}
.dashboard-w-i-action button:hover {
  transform: scale(1.1);
  transition: 0.2s;
}
.dashboard-w-i-action button:first-child {
  background-color: var(--black-10);
}
.dashboard-w-i-action button:last-child {
  background-color: #ff2323;
  padding: 6px;
}
.dashboard-w-i-action button img {
  height: 100%;
}

/* main dashboard___________________ */
.dashboard-home {
  width: 100%;
  height: calc(100% - 60px);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  overflow: auto;
}
.d-h-head {
  background-color: var(--white);
  width: 100%;
  height: 200px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.d-h-h-item {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.d-h-h-item h6 {
  width: 100%;
}
.d-h-h-item span h1 {
  font-weight: 500;
  font-size: 95px;
}
.d-h-h-item span {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.d-h-h-i-cart {
  width: 100%;
  height: 25px;
}
.d-h-h-i-cart p {
  font-size: 11px;
  color: var(--black-50);
}
.d-h-body {
  width: 100%;
  height: fit-content;
  margin: 10px 0;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
}
.d-h-b-c-wrap {
  display: flex;
  width: 100%;
  height: fit-content;
  justify-content: space-between;
  align-items: center;
}
.d-h-b-c-wrap select {
  font-size: 16px;
  padding: 5px 10px;
  border: 2px solid var(--black-10);
  border-radius: 5px;
}
.d-h-b-c-wrap select:hover {
  border: 2px solid var(--black-50);
}
.d-h-b-cart {
  background-color: var(--white);
  border-radius: 10px;
  width: 100%;
  padding: 20px;
}
.d-h-b-c-content {
  height: 100%;
  width: 100%;
}

.d-h-b-pie {
  background-color: var(--white);
  border-radius: 10px;
  padding: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}
