.home {
  width: 100%;
  height: fit-content;
  background-color: var(--white);
}
#home-logo {
  display: none;
  height: 50px;
  margin-bottom: 10px;
}
/* hero_____________________ */
.h-hero {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.h-h-title {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 50%;
}
.h-h-title h1 {
  display: inline-block;
}
.h-h-title h1:nth-child(2) {
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(214, 40, 40, 1) 0%,
    rgba(255, 195, 0, 1) 90%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.h-h-title h1:nth-child(4) {
  background-image: linear-gradient(
    69.2deg,
    rgba(77, 143, 251, 1) 35.3%,
    rgba(202, 51, 255, 1) 100.3%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.h-h-action {
  display: flex;
  gap: 40px;
  justify-content: start;
  align-items: center;
}
.h-h-action a {
  color: var(--black);
  text-decoration: none;
  font-weight: 600;
}
.h-h-action a:hover {
  text-decoration: underline;
}
#h-h-img {
  width: 500px;
}

/* search */
.h-search {
  position: relative;
}
.h-s-wrap {
  width: 100%;
  position: absolute;
  top: 0;
  height: 430px;
}

/* kategori_____________________ */
.h-kategori {
  width: 100%;
  height: fit-content;
  margin: 100px 0;
  position: relative;
  padding: 20px 0;
}
.h-k-title {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: start;
  align-items: center;
  height: 200px;
}
.the-void1 {
  width: 30px;
}

.h-k-list {
  width: 100%;
  display: flex;
  gap: 20px;
  scrollbar-width: none;
  flex-wrap: nowrap;
  overflow: auto;
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px 10px 50px 320px;
}
.h-k-l-gradient {
  width: 100%;
  height: 240px;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.grad1 {
  position: absolute;
  top: 0;
  left: 0;
  height: 240px;
  width: 100px;
  background: #ffffff;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}
.grad2 {
  position: absolute;
  top: 0;
  right: 0;
  height: 240px;
  width: 100px;
  background: #ffffff;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}
.h-k-l-item {
  min-width: 200px;
  width: 100%;
  height: 200px;
  box-shadow: 0 0 10px 0 hsl(0, 0%, 75%);
  border-radius: 5px;
  position: relative;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  box-sizing: border-box;
  background-color: var(--white);
  cursor: pointer;
  transition: 0.3s;
}
.h-k-l-item:hover {
  transform: scale(1.08);
  transition: 0.3s;
}
.h-k-l-item img:first-child {
  height: 40px;
}
.h-k-l-i-img2 {
  position: absolute;
  right: 20px;
}
.h-k-l-item p {
  font-weight: 600;
  font-size: 20px;
}

/* lowongan_____________________ */
.h-lowongan {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin: 50px 0;
}
.h-l-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 60%;
  gap: 20px;
}
.h-l-l-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  gap: 30px;
  border: 1px solid var(--black-10);
  border-radius: 10px;
  padding: 20px;
  cursor: pointer;
  transition: 0.3s;
}
.h-l-l-item span h6 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.h-l-l-item:hover {
  transform: scale(1.05);
  transition: 0.3s;
}
.h-l-l-item p {
  font-size: 13px;
  color: var(--black-50);
}
.h-l-l-i-info {
  display: flex;
  gap: 5px;
}
.h-l-l-i-perusahaan {
  display: flex;
  justify-content: space-between;
  align-items: end;
  width: 100%;
}
.h-l-l-i-perusahaan span {
  width: 100%;
}
.h-l-l-i-perusahaan img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
}
.h-l-title {
  width: 40%;
  text-align: end;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: end;
  gap: 20px;
}

@media screen and (width <1200px) {
  .h-l-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (width < 900px) {
  .h-hero {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 20px;
    height: fit-content;
  }
  #h-h-img {
    width: 100%;
  }
  .h-h-action {
    justify-content: center;
    gap: 20px;
    width: 100%;
    flex-direction: column;
  }
  .h-h-title {
    width: 100%;
  }
  .h-h-title h1 {
    font-size: 24px;
  }

  .h-kategori {
    margin-top: 0;
    margin-bottom: 250px;
  }
  .h-k-title {
    width: 100%;
    text-align: center;
  }
  .h-k-title h4 {
    width: 100%;
  }
  .h-k-list {
    position: absolute;
    top: 180px;
    width: 100%;
    padding: 0;
    padding: 10px;
  }
  .h-k-l-item {
    width: 700px;
  }
  .grad1,
  .grad2 {
    top: 180px;
    width: 30px;
  }
  .h-lowongan {
    flex-direction: column;
  }
  .h-l-list {
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
  }
  .h-l-title {
    align-items: center;
    text-align: center;
    width: 100%;
  }
  .h-l-title h4 {
    font-size: 20px;
  }
}
@media screen and (width <700px) {
  #home-logo {
    display: block;
  }
  .h-l-list {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (width <500px) {
  .h-l-list {
    grid-template-columns: 1fr;
  }
}
