.status-head {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
}

.status-search {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 40px;
  border: 2px solid var(--black-10);
  padding: 0 10px;
  border-radius: 8px;
}
.status-search input {
  font-size: 16px;
  width: 350px;
  height: 100%;
  border: transparent;
}
.status-search input:focus {
  outline: none;
}
.status-filter {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}
.s-f-button {
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 50px;
  border: 2px solid var(--black-10);
  background-color: transparent;
  font-weight: 500;
  cursor: pointer;
}
.s-f-button-on {
  background-color: var(--blue);
  color: var(--white);
}

/* body */
.status-body {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin-bottom: 50px;
}

.status-b-header {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 0.2fr;
  width: 100%;
  padding: 5px 10px;
  color: var(--black);
  border-bottom: 1px solid var(--black-10);
  margin-bottom: 5px;
}

.status-b-wrap {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.status-b-item {
  height: 100px;
  width: 100%;
  padding: 10px;
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 0.2fr;
  transition: 0.3s;
  padding-right: 20px;
  cursor: pointer;
  border-radius: 5px;
}
.status-b-item:hover {
  background-color: #edf8ff;
  grid-template-columns: 1.5fr 1fr 1.1fr 0.1fr;
  transition: 0.3s;
}
.status-b-i-info {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 15px;
}
.status-b-i-info p {
  font-size: 14px;
  color: var(--black-50);
}
.status-b-i-info img {
  height: 70px;
  border-radius: 10px;
  border: 2px solid var(--white);
}

.status-b-i-date {
  display: flex;
  justify-content: start;
  align-items: center;
}

.status-b-i-status {
  display: flex;
  justify-content: start;
  align-items: center;
}
.status-b-i-status p {
  display: block;
  width: fit-content;
  padding: 5px 10px;
  border-radius: 100px;
  font-weight: 500;
  color: var(--black);
}

.status-b-i-action {
  display: flex;
  justify-content: start;
  align-items: center;
}
.status-b-i-action img {
  height: 20px;
}

@media screen and (width <= 800px) {
  .status-head {
    flex-wrap: wrap;
  }
  .status-search {
    width: 100%;
  }
  .status-search input {
    width: 100%;
  }
  .status-b-header {
    display: none;
  }
  .status-b-item {
    grid-template-columns: 1.5fr 1fr 0.2fr;
  }
  .status-b-i-date {
    display: none;
  }
  .status-b-item:hover {
    grid-template-columns: 1.5fr 1.1fr 0.1fr;
  }
}

@media screen and (width <= 500px) {
  .status-b-item {
    grid-template-columns: 3fr 1fr;
  }
  .status-b-item:hover {
    grid-template-columns: 3fr 1fr;
  }
  .status-b-i-status {
    justify-content: end;
  }
  .status-b-i-action {
    display: none;
  }
}
