.tersimpan-head {
  border-bottom: 3.5px solid var(--black-10);
  padding: 0 10px;
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 49px;
}
.tersimpan-head-button {
  font-size: 16px;
  height: 50px;
  padding: 0 20px;
  border: transparent;
  border-bottom: 3px solid transparent;
  font-weight: 500;
  color: var(--black-50);
  border-radius: 10px 10px 0 0;
  background-color: transparent;
  cursor: pointer;
  transition: 0.3s;
}
.tersimpan-head button:hover {
  background-color: var(--white-dark);
  transition: 0.3s;
}

.tersimpan-head-button-on {
  color: var(--black);
  border-bottom: 3px solid var(--white);
  background-image: radial-gradient(
    circle farthest-corner at 7.2% 13.6%,
    rgba(37, 249, 245, 1) 0%,
    rgba(8, 70, 218, 1) 90%
  );
  transition: 0.3s;
  color: white;
}

.tersimpan-body {
  padding: 20px 0;
}
.t-b-lowongan-wrap {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}

/* perushaan */
.t-b-perushaan-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

@media screen and (width < 1100px) {
  .t-b-lowongan-wrap {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (width < 850px) {
  .t-b-lowongan-wrap {
    grid-template-columns: 1fr 1fr;
  }
  .t-b-perushaan-wrap {
    grid-template-columns: 1fr;
  }
}

@media screen and (width < 550px) {
  .t-b-lowongan-wrap {
    grid-template-columns: 1fr;
  }
}
